<div class="section" id="section-contact">
    <div class="row col-12 top-10 cl-mobile-hide">
        <div class="col-4" style="left:2%">
            <partial name="_FooterLogo" />
            <div class="col-4 offset-sm-2 top-70">
                <a class="col-12 container-fluid btn btn-lg btn-warning text-uppercase font-weight-bold text-white">
                    Tổng đài CSKH<br />
                    1800 1122
                </a>
            </div>
        </div>
        <div class="col-4 offset-sm-3 cl-mobile-hide">
            <form class="form-horizontal" id="frm-contact">
                <div class="form-group">
                    <span class="row col-12 text-white" style="font-size:40px">Đăng ký nhận tư vấn</span>
                </div>
                <div class="form-group">
                    <input class="form-control text-white" id="ip-full-name" placeholder="Họ và tên">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ip-email" placeholder="Email">
                </div>
                <div class="form-group" id="ip-questions">
                    <select class="form-control text-white">
                        <option value="">Bạn cần tư vấn nội dung gì?</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ip-phone" placeholder="Số điện thoại">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ip-content" placeholder="Nội dung">
                </div>
                <div class="form-group pt-5">
                    <a class="btn btn-lg btn-custom text-dark font-weight-bold" style="background:#fff">Gửi thông tin</a>
                </div>
                <div class="form-group pt-5">
                </div>
                <div class="form-group pt-5">
                    <h1 class="text-white text-uppercase">CÔNG TY CỔ PHẦN PALM</h1>
                </div>
                <div class="form-group pt-5">
                </div>
                <div class="form-group">
                    <span class="text-white">Số 45 Minh Khai, Q. Hai Bà Trưng, Thành phố Hải Dương</span>
                </div>
                <div class="form-group">
                    <span class="text-white">+84 24 12312450</span>
                </div>
                <div class="form-group">
                    <span class="text-white">info@palmcity.vn</span>
                </div>
                <div class="form-group">
                    <span class="text-white">https://chilinhpamlcity.vn</span>
                </div>
            </form>
        </div>
    </div>
    <div class="row cl-desktop-hide">
        <div class="col-12 text-center">
            <partial name="_MobileFooterLogo" />
        </div>
        <div class="col-12 text-center">
            <div class="col-sm pt-5">
                <h1 class="text-white text-uppercase">CÔNG TY CỔ PHẦN PALM</h1>
            </div>
            <div class="col-sm pt-5">
            </div>
            <div class="col-sm">
                <span class="text-white">Số 45 Minh Khai, Q. Hai Bà Trưng, Thành phố Hải Dương</span>
            </div>
            <div class="col-sm">
                <span class="text-white">Số điện thoại: +84 24 12312450</span>
            </div>
            <div class="col-sm">
                <span class="text-white">Email: info@palmcity.vn</span>
            </div>
            <div class="col-sm">
                <span class="text-white">Website: https://chilinhpamlcity.vn</span>
            </div>
        </div>
    </div>
    <div class="row col-12 footer-contain cl-mobile-hide" style="border-top:solid 1px white">
        <div class="col-4 mt-2" style="left:2%">
            <span class="text-white">Copyright © 2018 PALMCITY. All Right Reserved. Điều khoản Sitemap</span>
        </div>
        <div class="col-4 offset-sm-3 mt-2" style="padding-left:0;">
            <a class="text-white"><i class="fab fa-facebook fa-lg"></i></a>
            <a class="text-white pl-4"><i class="fab fa-instagram fa-lg"></i></a>
            <a class="text-white pl-4"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
    </div>
    <div class="row col-12 footer-contain cl-desktop-hide" style="border-top:solid 1px white">
        <div class="col-12" style="left:2%">
            <span class="text-white">Copyright © 2018 PALMCITY. All Right Reserved. Điều khoản Sitemap</span>
        </div>
        <div class="col-4 offset-sm-3 mt-2 cl-mobile-hide" style="padding-left:0;">
            <a class="text-white"><i class="fab fa-facebook fa-lg"></i></a>
            <a class="text-white pl-4"><i class="fab fa-instagram fa-lg"></i></a>
            <a class="text-white pl-4"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
    </div>
</div>