<div class="col-8 offset-sm-2">
    <?xml version="1.0" encoding="utf-8" ?>
    <!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" width="150" height="150" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="150px" y="150px"
         viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
<style type="text/css">

    .st0 {
        fill: #FFFFFF;
    }
</style>
<g>
    <g>
    <path class="st0" d="M42.63,109c-0.82,1.36-2.39,2.46-5.16,2.46c-4.51-0.02-7.45-2.51-7.45-6.7c0-4.11,2.84-6.67,7.5-6.67
			c1.96,0,3.53,0.45,4.57,0.99l0.04,3.15l-0.15,0c-0.67-2.41-2.25-3.37-4.26-3.37c-2.91,0-4.69,2.24-4.69,5.85
			c0,3.64,1.72,5.9,4.46,5.97c2.83,0,4.26-1.23,4.83-4.84l0.15,0L42.63,109z" />







    <path class="st0" d="M58.53,111.2h-5.58l0-0.18l0.23,0c0.64,0,1.16-0.51,1.18-1.14v-4.69h-5.95v4.67
			c0.01,0.64,0.53,1.16,1.18,1.16l0.23,0l0,0.18h-5.58l0-0.18l0.23,0c0.64,0,1.16-0.52,1.18-1.16V99.67
			c-0.02-0.64-0.54-1.15-1.18-1.15l-0.23,0l0-0.18h1.47v0h2.65v0h1.46l0,0.18l-0.23,0c-0.64,0-1.16,0.51-1.18,1.14v4.74h5.95v-4.75
			c-0.02-0.63-0.54-1.13-1.18-1.13l-0.23,0l0-0.18h1.46v0h2.65v0h1.46l0,0.18l-0.23,0c-0.64,0-1.16,0.52-1.18,1.16v10.18h0
			c0.01,0.64,0.53,1.16,1.18,1.16l0.23,0L58.53,111.2z" />







    <path class="st0" d="M65.64,111.01l0,0.18h-5.58l0-0.18l0.23,0c0.64,0,1.16-0.52,1.18-1.16V99.67c-0.02-0.64-0.54-1.15-1.18-1.15
			l-0.23,0l0-0.18h1.46v0h2.65v0h1.46l0,0.18l-0.23,0c-0.64,0-1.16,0.51-1.18,1.14v10.19c0.01,0.64,0.53,1.16,1.18,1.16
			L65.64,111.01z M62.66,97.2l-0.13-0.13c0.62-1.06,1.84-2.3,2.64-3.01c0.65,0.34,1.02,0.83,1.24,1.49
			C65.32,96.25,63.86,96.91,62.66,97.2z" />







    <path class="st0" d="M82.12,107.45l-0.85,3.75h-9.51l0-0.18l0.23,0c0.64,0,1.16-0.52,1.18-1.16V99.68
			c-0.01-0.64-0.53-1.15-1.18-1.15h-0.23l0-0.18h1.46h2.65h1.47l0,0.18h-0.23c-0.64,0-1.16,0.51-1.18,1.15h0v10.73h2.41
			c1.83,0,3.02-1.14,3.59-2.96H82.12z" />







    <path class="st0" d="M88.57,111.2h-5.58l0-0.18l0.23,0c0.64,0,1.16-0.52,1.18-1.16V99.67c-0.02-0.64-0.54-1.15-1.18-1.15l-0.23,0
			l0-0.18h1.46v0h2.65v0h1.46l0,0.18l-0.23,0c-0.64,0-1.16,0.51-1.18,1.14v10.19c0.01,0.64,0.53,1.16,1.18,1.16l0.23,0L88.57,111.2z
			" />







    <path class="st0" d="M104.67,98.53c0,0-0.34,0-0.34,0c-0.61,0-1.11,0.49-1.13,1.1v9.49c0,1.38,0.21,2.34,0.21,2.34h-0.17
			l-9.29-8.84l0.01,7.29c0.02,0.61,0.52,1.11,1.13,1.11c0,0,0.34,0,0.34,0l0,0.18h-5.57l0-0.18c0,0,0.34,0,0.34,0
			c0.62,0,1.12-0.5,1.13-1.11v-9.54c0-1.37-0.21-2.29-0.21-2.29h0.18l0.02,0.02l9.24,8.81v-7.26h0c-0.01-0.62-0.51-1.11-1.13-1.11
			l-0.34,0l0-0.18h5.57L104.67,98.53z" />







    <path class="st0" d="M119.98,111.2h-5.58l0-0.18l0.23,0c0.64,0,1.16-0.51,1.18-1.14v-4.69h-5.96v4.67
			c0.01,0.64,0.53,1.16,1.18,1.16l0.23,0l0,0.18h-5.58l0-0.18l0.23,0c0.64,0,1.16-0.52,1.18-1.16V99.67
			c-0.02-0.64-0.54-1.15-1.18-1.15l-0.23,0l0-0.18h1.47v0h2.65v0h1.46l0,0.18l-0.23,0c-0.64,0-1.16,0.51-1.18,1.14v4.74h5.95v-4.75
			c-0.02-0.63-0.54-1.13-1.18-1.13l-0.23,0l0-0.18h1.46v0h2.65v0h1.46l0,0.18l-0.23,0c-0.64,0-1.16,0.52-1.18,1.16v10.18
			c0.01,0.64,0.53,1.16,1.18,1.16l0.23,0L119.98,111.2z" />







	</g>
    <g>
    <path class="st0" d="M15.39,123.22c0.16,4.55-4.72,7.1-8.49,4.62l0-0.25c-0.02-0.02,3.18,0.32,4.1-3.01
			c0.13-0.47,0.18-1.09,0.16-1.59c-0.07-2.25-1.29-3.72-3.4-3.72H6v15.45c0.02,0.92,0.77,1.66,1.69,1.66h0.33l0,0.26H0l0-0.26
			c0.03,0,0.3,0,0.33,0c0.92,0,1.67-0.74,1.69-1.66h0v-14.78c-0.09-0.85-0.81-1.52-1.69-1.52c-0.03,0-0.29,0-0.33,0l0-0.26h2.11v0
			h6.7C13.34,118.16,15.3,120.33,15.39,123.22L15.39,123.22z" />







    <path class="st0" d="M34.08,136.38v0.26h-8.42v-0.26h0.23c0.68,0,1.42-0.6,1.01-1.66h0.02l-1.3-3.26h-6.2l-1.36,3.26h0.01
			c-0.43,1.06,0.33,1.66,1.01,1.66h0.23v0.26h-5.67v-0.26h0.24c0.76,0,1.67-0.44,2.23-1.49l6.11-13.81c0.19-0.4,1.23-2.69,1.3-3.46
			h0.24l7.85,17.22c0.57,1.08,1.48,1.53,2.25,1.53H34.08z M25.17,130.35l-2.58-6.49l-2.71,6.49H25.17z" />







    <path class="st0" d="M49.33,131.26l-1.22,5.39H34.43l0-0.26h0.33c0.92,0,1.67-0.74,1.69-1.66v-14.64
			c-0.02-0.92-0.77-1.66-1.69-1.66l-0.33,0l0-0.26h2.11h3.81h2.11l0,0.26l-0.33,0c-0.92,0-1.67,0.74-1.69,1.66h0v15.44h3.47
			c2.64,0,4.35-1.64,5.17-4.26H49.33z" />







    <path class="st0" d="M75.08,136.38v0.26h-7.94v-0.25h0.41c0.57,0,1.03-0.56,1.03-1.13c0-0.04,0-0.08-0.01-0.12h0l-1.04-9.46
			l-4.95,8.56c0,0-0.98,1.64-1.02,2.92h-0.25l-6.8-11.41l-1.04,9.43c0,0.03,0,0.05,0,0.08c0,0.57,0.46,1.13,1.03,1.13h0.41v0.25
			h-5.53v-0.26h0.42c0.95,0,1.79-0.61,1.93-1.65h0l2.19-16.94h0.24l8.2,13.48l7.86-13.47h0.24l2.25,16.93h0
			c0.17,1.04,0.98,1.65,1.93,1.65H75.08z" />







    <path class="st0" d="M100.75,133.49c-1.18,1.95-3.43,3.53-7.42,3.53c-6.49-0.03-10.72-3.61-10.72-9.64
			c0-5.91,4.08-9.59,10.79-9.59c2.81,0,5.07,0.65,6.57,1.43l0.05,4.53l-0.22,0c-0.96-3.47-3.23-4.85-6.13-4.85
			c-4.19,0-6.75,3.23-6.75,8.42c0,5.23,2.48,8.48,6.41,8.59c4.06,0,6.12-1.77,6.95-6.97l0.22,0L100.75,133.49z" />







    <path class="st0" d="M111.09,136.65h-8.02l0-0.26h0.33c0.92,0,1.67-0.74,1.69-1.66v-14.65c-0.02-0.92-0.77-1.65-1.69-1.65l-0.33,0
			l0-0.26h2.11v0h3.81v0h2.11l0,0.26l-0.33,0c-0.92,0-1.67,0.73-1.69,1.65v14.66c0.02,0.92,0.77,1.66,1.69,1.66h0.33L111.09,136.65z
			" />







    <path class="st0" d="M129.44,117.65v4.6l-0.27,0v-0.31c0-1.61-1.02-2.66-2.64-2.7h-3.55v15.5c0.03,0.91,0.77,1.64,1.69,1.64h0.33
			l0,0.26h-8.03l0-0.26h0.33c0.91,0,1.65-0.72,1.69-1.62v-15.52h-3.55c-1.62,0.04-2.65,1.09-2.64,2.7v0.31l-0.27,0v-4.6
			c0.49,0.21,1.99,0.47,3.13,0.48h10.63C127.45,118.12,128.95,117.86,129.44,117.65z" />







    <path class="st0" d="M150,118.16v0.26h-0.37c-1.11,0-2.11,0.73-2.66,1.54l-5.2,8.28v6.48h0c0.02,0.92,0.77,1.66,1.69,1.66h0.34
			l0,0.26h-8.02l0-0.26h0.33c0.92,0,1.67-0.73,1.69-1.64v-6.51l-5.03-8.29c-0.52-0.8-1.55-1.52-2.63-1.52h-0.37v-0.26h8.75v0.26
			h-0.33c-0.77,0-1.31,0.89-0.93,1.63l3.76,6.87l3.93-6.87c0.42-0.75-0.21-1.63-0.93-1.63h-0.33v-0.26H150z" />







	</g>
    <g>
    <path class="st0" d="M121.96,58.05L79.42,68.84c0,0,17.31-7.98,26.1-11.88C112.29,53.95,118.58,54.1,121.96,58.05z M94.89,53.64
			c-5.7,5.61-15.48,15.2-15.48,15.2l28.2-18.01C105.04,48.92,99.63,48.98,94.89,53.64z M121.96,79.63L79.42,68.84
			c0,0,17.31,7.98,26.1,11.88C112.29,83.72,118.58,83.57,121.96,79.63z M107.62,86.85l-28.2-18.01c0,0,9.77,9.59,15.48,15.2
			C99.63,88.7,105.04,88.76,107.62,86.85z M130.43,68.84c-4.35-3.9-10.48-4.13-16.71-3.79c-11.01,0.59-34.3,3.79-34.3,3.79
			s23.29,3.2,34.3,3.79C119.94,72.97,126.08,72.74,130.43,68.84z" />







    <path class="st0" d="M28.04,79.63l42.54-10.79c0,0-17.31,7.98-26.1,11.88C37.71,83.72,31.42,83.57,28.04,79.63z M55.11,84.03
			c5.7-5.61,15.48-15.2,15.48-15.2l-28.2,18.01C44.96,88.76,50.37,88.7,55.11,84.03z M28.04,58.05l42.54,10.79
			c0,0-17.31-7.98-26.1-11.88C37.71,53.95,31.42,54.1,28.04,58.05z M42.38,50.83l28.2,18.01c0,0-9.77-9.59-15.48-15.2
			C50.37,48.98,44.96,48.92,42.38,50.83z M19.57,68.84c4.35,3.9,10.48,4.13,16.71,3.79c11.01-0.59,34.3-3.79,34.3-3.79
			s-23.29-3.2-34.3-3.79C30.06,64.71,23.92,64.94,19.57,68.84z" />







    <path class="st0" d="M64.22,21.9l10.79,42.54c0,0-7.98-17.31-11.88-26.1C60.12,31.56,60.27,25.28,64.22,21.9z M59.81,48.96
			c5.61,5.7,15.2,15.48,15.2,15.48L57,36.24C55.09,38.81,55.15,44.22,59.81,48.96z M85.8,21.9L75.01,64.44
			c0,0,7.98-17.31,11.88-26.1C89.89,31.56,89.74,25.28,85.8,21.9z M93.02,36.24l-18.01,28.2c0,0,9.59-9.77,15.2-15.48
			C94.87,44.22,94.93,38.81,93.02,36.24z M75.01,13.43c-3.9,4.35-4.13,10.48-3.79,16.71c0.59,11.01,3.79,34.3,3.79,34.3
			s3.2-23.29,3.79-34.3C79.14,23.91,78.91,17.78,75.01,13.43z" />







	</g>
</g>
</svg>

</div>