<div class="dd-b-menu">
    <a href="#" class="btn dd-menu-close js-close-menu">Đóng Menu</a>
    <div class="dd-b-main-menu">
        <div class="logo-contain">
            <div class="col-12">
                <img src="~/images/logo-01.svg" />
            </div>
        </div>
        <div class="dd-b-body">
            <ul class="dd-main-menu">
                @*<li class=""><a href="http://localhost:5000/#home">Trang chủ</a></li>
                <li class=""><a href="http://localhost:5000/#intro">Giới thiệu</a></li>
                <li class=""><a href="http://localhost:5000/#location">Vị trí</a></li>
                <li class=""><a href="http://localhost:5000/#project">Thông tin chi tiết</a></li>
                <li class=""><a href="http://localhost:5000/#gallery">Thư Viện</a></li>
                <li class=""><a href="http://localhost:5000/#contact">Liên hệ</a></li>*@
                <li class=""><a href="https://chilinhpalm.azurewebsites.net/#home">Trang chủ</a></li>
                <li class=""><a href="https://chilinhpalm.azurewebsites.net/#intro">Giới thiệu</a></li>
                <li class=""><a href="https://chilinhpalm.azurewebsites.net/#location">Vị trí</a></li>
                <li class=""><a href="https://chilinhpalm.azurewebsites.net/#project">Thông tin chi tiết</a></li>
                <li class=""><a href="https://chilinhpalm.azurewebsites.net/#gallery">Thư Viện</a></li>
                <li class=""><a href="https://chilinhpalm.azurewebsites.net/#contact">Liên hệ</a></li>
            </ul>
            <div class="dd-menu-contact-info">
                <p class="dd-phone"><a href="tel:+84 024 01 02 03">+84 024 01 02 03</a></p>
                <p class="dd-links">
                    <a href="http://chilinhpalmcity.vn">chilinhpalmcity.vn</a>
                    <br><a href="mailto:chilinhpalmcity@gmail.com">chilinhpalmcity@gmail.com</a>
                </p>
            </div>
        </div>
        <ul class="dd-b-language at-menu">
            <li class="active"><a data-request="onSwitchLocale" href="#" data-request-data="locale:'vi'">vi</a></li>
            <li class=""><a data-request="onSwitchLocale" href="#" data-request-data="locale:'en'">en</a></li>
        </ul>
    </div>
    <div class="dd-b-sub-menu mobile-hide">
        <ul class="dd-sub-menu">
            @*<li><a class="font-weight-bold" href="http://localhost:5000/home/detail/townhouse/">NHÀ LIỀN KỀ</a></li>
            <li><a class="font-weight-bold" href="http://localhost:5000/home/detail/hotel/">NHÀ VƯỜN</a></li>
            <li><a class="font-weight-bold" href="http://localhost:5000/home/detail/villa/">BIỆT THỰ</a></li>
            <li><a class="font-weight-bold" href="http://localhost:5000/home/detail/shophouse/">SHOP HOUSE</a></li>*@

            <li><a class="font-weight-bold" href="https://chilinhpalm.azurewebsites.net/home/detail/townhouse/">NHÀ LIỀN KỀ</a></li>
            <li><a class="font-weight-bold" href="https://chilinhpalm.azurewebsites.net/home/detail/hotel/">NHÀ VƯỜN</a></li>
            <li><a class="font-weight-bold" href="https://chilinhpalm.azurewebsites.net/home/detail/villa/">BIỆT THỰ</a></li>
            <li><a class="font-weight-bold" href="https://chilinhpalm.azurewebsites.net/home/detail/shophouse/">SHOP HOUSE</a></li>
        </ul>
    </div>
</div>